.history-entry-status-success {
    color: #13bd27;
}

.history-entry-status-failure {
    color: #e02d1d;
}

.history-entry-status-waiting {
    color: #e0b61d;
}

.complete-prompt {
    display: block;
    position: absolute;
    z-index: 10;
    margin: 0;
    width: 85%;
    background: gray;
}

.complete-prompt li {
    line-height: 20px;
}

.complete-prompt-entry-active::before {
    content: ">";
    color: blue;
}
