.grid-item {
  height: 100%;
}

.step-failed {
  color: #bb0523;
}

.step-failed:hover,.step-passed:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.step-passed {
  color: #39a70c;
}

.step-failed::before {
  content: '✗';
  padding-right: 8px;
  color: #bb0523;
}

.step-passed::before {
  content: '✓';
  padding-right: 8px;
  color: #39a70c;
}

.step-running {
  color: #e89617;
}

.step-running::before {
  content: '▶';
  padding-right: 8px;
  color: #e89617
}

.step-scheduled {
  color: #b3b9af;
}

.step-scheduled::before {
  content: '⏱';
  padding-right: 8px;
  color: #b3b9af;
}

.output-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.output-list li {
  padding-left: 16px;
}

.align-right {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

.code-text {
  font-family: monospace;
  font-size-adjust: 0.7;
}

.log-info {
  color: #39a70c;
}

.log-warning {
  color: #ccaa00;
}

.log-error {
  color: #bb0523;
}

.overlay-button {
  opacity: 0.2;
  padding: 5px;
  cursor: pointer;
  background: whitesmoke;
  border: 2px solid #555c63;
  border-radius: 5%;
  transition: 0.5s;
}

.overlay-button:hover{
  opacity: 1;
  color: #29649e;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal {
  position: fixed;
  width: auto;
  z-index: 1040;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}