:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
  margin: 0;
}

#editors {
  position: relative;
  min-width: 0;
  height: 55vh;
  border: 1px solid var(--vscode-editorWidget-border);
}

#panel {
  display: flex;
  flex: none;
  border: 1px solid var(--vscode-editorWidget-border);
  height: 30vh;
}

.standalone-editor {
  width: 100%;
  height: 55vh;
}

.steps-output {
  padding-left: 20px;
}

.steps-output>li {
  padding-left: 5px;
}

/* set variables for vscode lit elements */
body {
  
  --background: var(--vscode-button-background);
  --foreground: var(--vscode-button-foreground);
  --icon-foreground: var(--vscode-button-foreground);
  --hover-background: var(--vscode-button-hoverBackground);
  --font-family: var(--vscode-font-family);
  --font-size: var(--vscode-font-size);
  --font-weight: var(--vscode-font-weight);
  --secondary-foreground: var(--vscode-button-secondaryForeground);
  --secondary-background: var(--vscode-button-secondaryBackground);
  --secondary-hover-background: var(--vscode-button-secondaryHoverBackground);
  --focus-border: var(--vscode-focusBorder);
  --icon-background: var(--vscode-settings-checkboxBackground);
  --icon-border: var(--vscode-settings-checkboxBorder);
  --focus-border: var(--vscode-list-focusOutline);
  --hover-foreground: var(--vscode-list-hoverForeground);
  --hover-background: var(--vscode-list-hoverBackground);
  --inactive-selection-background: var(--vscode-list-inactiveSelectionBackground);
  --active-selection-background: var(--vscode-list-activeSelectionBackground);
  --list-active-selection-background: var(--vscode-list-activeSelectionBackground);
  --dropdown-background: var(--vscode-list-inactiveSelectionBackground);
  --active-selection-foreground: var(--vscode-list-activeSelectionForeground);
}